In [4]:
import pandas as pd
import os

In [5]:
data = pd.read_csv('./Thomas/data_quarterly_DE.csv')
data

,iso2,date,date.1,loansPnfs_yoy,resPropPrice,cpi_yoy,fx,totalCreditPnfs2GDP,totalCreditPnfsLCY,dsrPnfs,...,totalCreditPnfs2GDP_lag2,cpi_yoy_lag3,bankCreditPnfs_lag3,totalCreditPnfsLCY_lag3,totalCreditPnfs2GDP_lag3,cpi_yoy_lag4,bankCreditPnfs_lag4,totalCreditPnfsLCY_lag4,totalCreditPnfs2GDP_lag4,fx_std
0,DE,1948Q4,1948-10-01 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,4.522,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DE,1949Q1,1949-01-01 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,5.476,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DE,1949Q2,1949-04-01 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,6.942,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DE,1949Q3,1949-07-01 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,8.593,NaN,...,NaN,NaN,2.984000,4.522,NaN,NaN,NaN,NaN,NaN,NaN
4,DE,1949Q4,1949-10-01 00:00:00.000000000,NaN,NaN,NaN,NaN,NaN,10.573,NaN,...,NaN,NaN,3.614000,5.476,NaN,NaN,2.984000,4.522,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,DE,2023Q2,2023-05-16 01:49:05.454545408,NaN,133.1571,6.796917,0.918634,125.1,5003.808,10.8,...,128.1,7.110009,2115.533000,4926.568,129.4,6.494617,2128.664667,4817.403,128.4,0.089809
299,DE,2023Q3,2023-08-13 23:17:38.823529472,NaN,130.5617,5.832606,0.918989,123.5,5020.222,10.8,...,126.3,8.676878,2215.088333,4957.597,128.1,7.110009,2115.533000,4926.568,129.4,0.043293
300,DE,2023Q4,2023-11-11 17:27:16.363636480,NaN,127.8992,3.648422,0.930387,122.0,5028.972,10.8,...,125.1,8.406074,2243.533667,4972.174,126.3,8.676878,2215.088333,4957.597,128.1,0.053981
301,DE,2024Q1,2024-02-13 07:30:00.000000000,NaN,NaN,2.519272,0.921022,NaN,NaN,NaN,...,123.5,6.796917,2251.737333,5003.808,125.1,8.406074,2243.533667,4972.174,126.3,0.023914
302,DE,2024Q2,2024-05-03 21:00:00.000000000,NaN,NaN,2.229846,0.927810,NaN,NaN,NaN,...,122.0,5.832606,2223.835667,5020.222,123.5,6.796917,2251.737333,5003.808,125.1,0.019465

In [8]:
data.index = pd.to_datetime(data['date.1'])

In [9]:
data.columns

Index(['iso2', 'date', 'date.1', 'loansPnfs_yoy', 'resPropPrice', 'cpi_yoy',
       'fx', 'totalCreditPnfs2GDP', 'totalCreditPnfsLCY', 'dsrPnfs',
       'dsrHousehold', 'dsrNfc', 'spotRate10year', 'EAtermSpread',
       'spotRate2year', 'bankCreditPnfs', 'UStermSpread',
       'financialStressIndex', 'financialStressDummy', 'month',
       'cpi_yoy_growthRate', 'bankCreditPnfs_growthRate',
       'totalCreditPnfsLCY_growthRate', 'totalCreditPnfs2GDP_growthRate',
       'cpi_yoy_lag1', 'bankCreditPnfs_lag1', 'totalCreditPnfsLCY_lag1',
       'totalCreditPnfs2GDP_lag1', 'cpi_yoy_lag2', 'bankCreditPnfs_lag2',
       'totalCreditPnfsLCY_lag2', 'totalCreditPnfs2GDP_lag2', 'cpi_yoy_lag3',
       'bankCreditPnfs_lag3', 'totalCreditPnfsLCY_lag3',
       'totalCreditPnfs2GDP_lag3', 'cpi_yoy_lag4', 'bankCreditPnfs_lag4',
       'totalCreditPnfsLCY_lag4', 'totalCreditPnfs2GDP_lag4', 'fx_std'],
      dtype='object')

In [ ]:
cols = ['loansPnfs_yoy', 'resPropPrice', 'cpi_yoy',
       'fx', 'totalCreditPnfs2GDP', 'totalCreditPnfsLCY', 'dsrPnfs',
       'dsrHousehold', 'dsrNfc', 'spotRate10year', 'EAtermSpread',
       'spotRate2year', 'bankCreditPnfs', 'UStermSpread',
       'financialStressIndex', 'financialStressDummy', 'month',
       'cpi_yoy_growthRate', 'bankCreditPnfs_growthRate',
       'totalCreditPnfsLCY_growthRate', 'totalCreditPnfs2GDP_growthRate',
       'cpi_yoy_lag1', 'bankCreditPnfs_lag1', 'totalCreditPnfsLCY_lag1',
       'totalCreditPnfs2GDP_lag1', 'cpi_yoy_lag2', 'bankCreditPnfs_lag2',
       'totalCreditPnfsLCY_lag2', 'totalCreditPnfs2GDP_lag2', 'cpi_yoy_lag3',
       'bankCreditPnfs_lag3', 'totalCreditPnfsLCY_lag3',
       'totalCreditPnfs2GDP_lag3', 'cpi_yoy_lag4', 'bankCreditPnfs_lag4',
       'totalCreditPnfsLCY_lag4', 'totalCreditPnfs2GDP_lag4', 'fx_std']